<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h2>Lista Mail</h2>
      <ul v-if="mailsArray.length == 10">
        <li v-for="value in mailsArray">{{ value }}</li>
      </ul>
    </div>
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- My Script -->
    <script src="js/script.js"></script>
  </body>
</html>
